* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 38rem) {
    .content {
        padding: 1rem; 
        text-align: center;
    }

}

.title {
    margin-top: 8rem;
}

.image {
    width: 20rem;
}

.image--hidden {
    display: none;
}

.zodiac-image {
    display: block;
}

.modal__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.userYear, .userYearSubmit {
    padding: 0.5rem;
    border-radius: 10px;
}

.userYearSubmit {
    width: 4rem;
}

.modal {
    visibility: hidden;
}

.modal__inner--show {
    visibility: visible;
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
}